/* Fonts
-------------------- */
body {
	font-family: "ratio",sans-serif;
	background: url(../images/bg.png);
	border-top: 6px solid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "apertura",sans-serif;
	color: #444;
}

p {
	font-size: 1.6rem;
}

/* Header
-------------------- */
header.main-header h1 {
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	margin: 36px 0 6px;
	padding: 0;
	line-height: 0;
}

header.main-header h1 a {
	color: #444;
}

header.main-header h1 a:hover {
	color: #801E00;
}

/* Main Site Navigation
-------------------- */
nav.main-nav {
	text-align: center;
	margin: 12px 0 0;
}

nav.main-nav ul {
}

nav.main-nav li {
	text-transform: ;
	padding: 0;
	margin: 0 6px;
	font-size: 1.8rem;
	display: inline;
}

nav.main-nav li a {
	color: #666;
}

nav.main-nav li a:hover {
	color: #801E00;
}

/* Content Area
-------------------- */
section.content {
	margin-bottom: 12px;
}

.content h1 {
	margin: 0;
	padding: 0;
}

/* Full Articles
-------------------- */
article.full-article {
	border-top: 4px solid #999;
	padding: 18px 0 0;
	margin: 0 0 18px;
}

.full-article h1 {
	font-size: 2rem;
	text-transform: uppercase;
}

.full-article p {
	color: #444;
}

/* Link Articles
-------------------- */
.link-article h1 {
	font-size: 1.6rem;
	padding: 0;
	margin: 0;
}

.link-article h1 a {
	color: #5d0080;
}

.link-article h1 a:hover {
	color: #801E00;
}

.link-article p {
	font-size: 1.4rem;
	color: #666;
}

.link-article a.permalink {
	margin-left: 1rem;
}