/* Fonts
-------------------- */
body {
	font-family: "ratio",sans-serif;
	background: url(../images/bg.png);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "apertura",sans-serif;
}

/* Header
-------------------- */
header.main-header h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0 0;
	padding: 0;
	line-height: 1.1;
}

header.main-header h2 {
	font-size: 1em;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

/* Main Site Navigation
-------------------- */
nav.main-nav {
	text-align: center;
	margin: 12px 0 0;
}

nav.main-nav li {
	text-transform: ;
	padding: 0;
	margin: 0 12px;
	font-size: 1.1em;
	display: inline;
}

.active {
	border-bottom: 2px solid;
}

/* Content Area
-------------------- */
section.content {
	background: white;
	padding: 9px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.5);
	margin-bottom: 12px;
}

/* Full Articles
-------------------- */
.full-article h1 {
	font-size: 1.9em;
}

/* Link Articles
-------------------- */
.link-article h1 {
	font-size: 1.2em;
}

.link-article a.link-title {
	font-style: italic;
}